#weekly{
    border-top: 1px solid var(--stroke-color);
    padding-bottom: 80px;
    grid-area: weekly;
    figure{
      position: relative;
      .content-tag{
        position: absolute;
        top: 8px;
        left: 8px;
      }
      p{
        margin-top: 8px;
        font-weight: 800;
      }
    }
   
}